body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('black.jpg') center/cover no-repeat;
}

.glass-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 300px;
    padding: 40px;
    text-align: center;
    border: 2px solid rgba( 255, 255, 255, .5);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18px);
}

h1 {
    margin-bottom: 15px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 26px;
    color: #333;
    text-align: left;
    position: absolute;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 29px;
    border: none;
    border-bottom: 2px solid #131518;
    outline: none;
    background: transparent;
    transition: border-bottom-color 0.3s;
}

input:hover,
input:focus {
    border-bottom-color: #0056b3;
}

button {
    background-color: #10161d;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2e3033;
}

.error-message a {
    color: #007bff;
}

.error-message a:hover {
    color: rgb(64, 81, 100);
}

#message {
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
